site_name: pipeline-watcher
site_url: https://www.provenaisolutions.com/pipeline-watcher/
repo_url: https://github.com/dataGladiator/pipeline-watcher
theme:
  name: material
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.top
    - navigation.footer
    - toc.integrate
    - toc.follow
  logo: images/pipeline-watcher-small-logo.png
  favicon: images/favicon/favicon.svg
  palette:
    # Auto-select based on user’s OS, but default to dark
    - media: "(prefers-color-scheme: dark)"
      scheme: slate           # Material's dark scheme
      primary: light blue         # pick any: indigo, teal, lime, etc.
      accent: yellow
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy

            # DOCSTRINGS -------------------------------------------------------------
            # docstring_options:

            # Tables are generally too large, lists will fix this.
            docstring_section_style: list

            # CROSS-REFERENCES -------------------------------------------------------
            # Enable relative crossrefs and scoped crossrefs, see Docstrings options.
#            relative_crossrefs: true  # Sponsors only!
#            scoped_crossrefs: true  # Sponsors only!

            # Enable cross-references in signatures.
            signature_crossrefs: true

            # Unwrap actual types from `Annotated` type annotations.
            unwrap_annotated: true

            # MEMBERS ----------------------------------------------------------------
            # Only render pulic symbols.
            filters: public  # Sponsors only!
            # HEADINGS ---------------------------------------------------------------
            # For auto-generated pages, one module per page,
            # make the module heading be the H1 heading of the page.
            heading_level: 2

            # Render headings for parameters, making them linkable.
            parameter_headings: true

            # Render headings for type parameters too.
            type_parameter_headings: true

            # Always show the heading for the symbol you render with `::: id`.
            show_root_heading: true

            # Only show the name of the symbols you inject render `::: id`.
            show_root_full_path: false

            # Show the type of symbol (class, function, etc.) in the heading.
            show_symbol_type_heading: true

            # Show the type of symbol (class, function, etc.) in the table of contents.
            show_symbol_type_toc: true

            # SIGNATURES -------------------------------------------------------------
            # Format code to 80 + 10% margin (Black and Ruff defaults)
            # in signatures and attribute value code blocks.
            # Needs Black/Ruff installed.
            line_length: 88

            # Merge signature and docstring of `__init__` methods
            # into their parent class signature and docstring.
            merge_init_into_class: true

            # Render signatures and attribute values in a separate code block,
            # below the symbol heading.
            separate_signature: true

            # Show type annotations in signatures.
            show_signature_annotations: true

            # Show type parameters in signatures.
            show_signature_type_parameters: true

            # OTHER ------------------------------------------------------------------
            # Show backlinks to other documentation sections within each symbol.
            backlinks: tree  # Sponsors only!

            # Show base classes OR inheritance diagram.
            show_bases: true
            show_root_toc_entry: false
#
#            # ✅ use recognized top-level options (no 'selection:' block)
            summary: true
            members: true
            inherited_members: true  # Prevents child methods from appearing under base
#            merge_init_into_class: false  # Avoids confusion with __init__
#            filters:
#              - "!^_"   # hide private names starting with underscore
  - include-markdown


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true
      toc_depth: 2

nav:
  - Overview: index.md
  - API:
      - PipelineReport: api/pipeline_report.md
      - File & Step: api/file_step.md
      - Context managers: api/contexts.md
